body {
  padding: 0 20px;
}

.hidden {
  display: none !important;
}

#navbar {
  background-color: transparent;
  z-index: 1;
}

body:before {
  content: "";
  background-image: url('./bg.png');
  background-color: rgb(212, 24, 24, .25);
  background-size: cover;
  background-blend-mode: hue;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-attachment: fixed;
  opacity: .2;
}

.nav-brand {
  width: 100%;
  margin: 0;
}

#logo-container {
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: center;
}

#logo-img {
  border: 0;
  display: inline;
}

#form-container > form {
  margin: 50px auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 660px;
}

.labels-container {
  display: flex;
  justify-content: space-between;
}

#form-container {
  position: relative;
  top: 10vh;
}

#formats-container {
  display: inline-flex;
}

#formats-container .paper-radio {
  margin-left: 10px;
  font-size: .8em;
}

#formats-container .paper-radio input+span:before {
  margin-right: 5px;
}

#submit-btn {
  text-align: center;
}

#submit-btn > input {
  margin-left: 5px;
  margin-right: 5px;
}

.loader-container {
  display: inline-block;
  margin-top: -25px;
  position: relative;
  top: 25px;
  left: 7px;
}

.loader-container > img {
  border: 0;
  max-width: 40px;
  margin: auto;
}

.loader-container > span {
  font-size: .8em;
  font-family: Neucha,sans-serif;
  position: relative;
  top: -10px;
}

#info {
  position: relative;
  top: 30px;
  max-width: 660px;
  margin: auto;
}

.tabs input:checked+label {
  border-bottom-color: #dfa030;
}

ul, ol {
  font-family: Neucha,sans-serif;
  padding-left: 25px;
}

ol li {
  margin-bottom: 5px;
}

#footer {
  font-family: Neucha,sans-serif;
  text-align: center;
  font-size: .8em;
  padding: 10px 0;
}


@media screen and (max-width: 450px){
  #url-label {
    font-size: .8em;
  }

  #formats-container .paper-radio {
    font-size: .68em;
  }

  #form-container > form {
    margin: 20px auto;
  }

  #info {
    font-size: .8em;
  }

  #submit-btn > input {
    font-size: .8em;
    padding: .6rem;
    line-height: 1.4;
  }
}